*{
	margin:0;
	padding:0;
}

html, body{
	scroll-behavior: smooth;
}

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

img{
	display: block;
}

header.menu1{
	width: 100%;
	height: 100px;
	position: fixed;
	left: 0;
	top: calc(50vh - 50px);
	z-index: 2;
	padding-left: 100px;
	background-color: rgba(200, 15, 46, .8);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header.menu1 img{
	width: 50px;
}

nav{
	display:flex;
	justify-content:center;
	align-items:center;
}

nav ul{
	list-style:none;
	display:flex;
}

nav a{
	text-decoration:none;
	color:rgba(29, 66, 137, .7);
	transition: all .3s;
	font-size: 1.2em;
	font-weight: 700;
	margin: 0px 10px;
	padding:10px 20px;
	position:relative;
}

nav a:hover{
	color:white;
}

.brackets:before, .brackets:after{
	position: absolute;
	opacity: 0;
	color: white;
	font-size: 1.5em;
	top: 4px;
	transition: all .3s;
}

.brackets:after{
	content: ")";
	right: 0;
	transform: translateX(-20px);
}

.brackets:hover:before, .brackets:hover:after{
	opacity: 1;
	transform: translateX(0);
}

.brackets:before{
	content: "(";
	left: 0;
	transform: translateX(-10px);
}

section{
	height:100vh;
	width: 100%;
	padding-left: 100px;
	display:grid;
	grid-template: repeat(2, 1fr) / 100%;
	align-items: center;
	row-gap: 100px;
	position: fixed;
	background-color: white;
}

h1{
	font-size: 3.5em;
	font-weight: 800;
	color:#C80F2E;
}

h2{
	font-weight:700;
	font-size:2em;
	color:#1D4289;
}

p{
	color: #444;
	line-height: 1.5em;
	margin-top: 10px;
}

#uno::before{
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: url("../img/fondo-01.jpg") no-repeat top center / cover;
	opacity: 0.2;
	z-index: -1;
}

#uno img{
	width: 30vh;
}

#dos::before{
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: url("../img/fondo-02.jpg") no-repeat center center / cover;
	opacity: 0.2;
	z-index: -1;
}

#dos img{
	width: 40%;
	margin: 20px 0;
	padding: 10px;
	background-color: white;
	box-shadow: 1px 1px 5px black;
}

#tres::before{
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: url("../img/fondo-03.jpg") no-repeat center center / cover;
	opacity: 0.2;
	z-index: -1;
}

#tres div:last-child{
	display: grid;
	grid-template: auto 20px / repeat(3, 200px);
	height: 40vh;
	column-gap: 40px;
	align-content: center;
}

#tres div:last-child img{
	border: 3px dashed #C80F2E;
	padding: 10px;
	max-width: 120%;
	max-height: 120%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all .5s;
}

#tres div:last-child p{
	font-size: 1.3em;
	color: #1D4289;
	font-weight: 700;
	margin-top: 5px;
}

#tres div:last-child a:hover img{
	filter: grayscale(0);
}

.info{
	width:80%;
	max-width: 1000px;
}

.info a{
	text-decoration: none;
	color: #1D4289;
	font-weight: 700;
}

.info a:hover{
	color: #C80F2E;
}

#uno, #dos:target, #tres:target{
	z-index:1;	
}

/* PAGINAS SECUNDARIAS */
#bird{
	display: grid;
	grid-template: 75px auto / repeat(2, 1fr);
	align-items: start;
	align-content: center;
	gap: 40px;
}

#bird::before{
	content: "";
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: url("../img/bird-02.jpg") no-repeat center top / cover;
	opacity: 0.2;
	z-index: -1;
}

#bird h1{
	grid-column: span 2;
}

#bird img{
	padding: 10px;
	border: 1px dashed red;
}

#bird .info{
	width: 100%;
}

/*
#uno div:last-child{
	grid-row: 3 / 4;
}*/

/* MENU HAMBURGUESA */
header.menu2{
	position: fixed;
	z-index: 1;
	width: 100%;
}

.abrir{
	display: block;
	appearance: none;
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #C80F2E;
	border-radius: 5px;
	width: 30px;
	padding: 5px 5px 0;
	cursor: pointer;
	position: absolute;
	top: 100px;
	left: 100px;
	transition: all 0.5s;
}

.abrir:hover{
	background-color: #C80F2E;
}

.abrir span{
	display: block;
	height: 2px;
	background-color: #C80F2E;
	margin-bottom: 5px;
}

.abrir:hover span{
	background-color: white;
}

.hamb{
	width: 100%;
	height: 100vh;
	position: absolute;
	-left: -100%;
	background-color: #1D4289;
	flex-direction: column;
	opacity: 0.8;
	display: none;
}

.hamb ul{
	display: block;
	text-align: center;
}

.hamb li:not(:first-child){
	margin-top: 40px;
}

.hamb a{
	color:rgba(255, 255, 255, 0.7);
	font-size: 3em;
	padding: 20px 40px;
}

.cerrar{
	display: block;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.7);
	font-size: 2em;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	transition: all .5s;
}

.cerrar:hover{
	color: white;
}

.desplegado{
	-left: 0;
	display: flex;
}

.blur{
	filter: blur(4px);
}

@media screen and (max-width:1200px){
	#bird{
		display: block;
		height: 100%;
		padding-top: 200px;
		padding-left: 0;
		padding-bottom: 40px;
		position: static;
		background-color: transparent;
	}
	#bird::before{
		position: fixed;
		top: 0;
		left: 0;
	}
	#bird *:not(p, a){
		margin-left: 100px;
	}
	#bird .info{
		width: 60%;
		margin-top: 40px;
	}
	#bird img{
		margin-top: 40px;
		width: 60%;
		max-width: 550px;
		margin-bottom: 40px;
	}
	.abrir{
		left: calc(100% - 142px);
}
}

/*
@media screen and (max-width:620px){
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 1.8em;
	}
	.info p{
		font-size: .9em;
		width:70%;
	}
}

@media screen and (max-width:460px){
	h1{
		font-size: 2em;
	}
	.info{
		margin-bottom: 40px;
	}
	.info p{
		font-size: .9em;
		width:80%;
	}
	nav{
		display:none;
	}
	section{
		justify-content: center;
	}
}*/


